<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Budget Pro</title>
  <link rel="stylesheet" href="styles.css">
  <style>
    .content {
      display: flex;
      flex-direction: row;
    }
    .button-container {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      margin-right: 20px;
    }
    .button {
      display: inline-block;
      padding: 8px 15px;
      margin: 5px;
      font-size: 16px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      color: #fff;
      background-color: #007BFF;
      border: none;
      border-radius: 5px;
    }

    .button:hover {
      background-color: #0056b3;
    }

    footer {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      text-align: center;
      margin-top: auto; /* Push footer to bottom */
    }
  </style>
</head>

<body>
  <header>
    <div class="welcome-message">
      <h2>Welcome, <%= firstName %></h2> <!-- Dynamic greeting: This is not a bug! -->
    </div>
    <div class="logout-button">
      <a href="/login">
          <button id="logout-button">Logout</button>
      </a>
    </div>
    <div class="header-text-container"> <!-- Text container for independent positioning -->
      <h1>Travel Budget Pro</h1>
      <p>Stay up-to-date on your travel expenses</p>
    </div>
  </header>

  <div id="display" class="display">
    <nav id="sidebar">
      <h2>Menu</h2>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/createBudget">Create New Budget</a></li>
        <li><a href="/selectReport">Select Report</a></li>
        <li><cur>View Report</cur></li> 
      </ul>
    </nav>
  
    <div class="content">
      <!-- Content loaded dynamically based on button clicks -->
      <div class="button-container">
        <a href="/report?id=<%= budgetData._id %>&graphType=bar" class="button">Bar Graph</a>
        <a href="/report?id=<%= budgetData._id %>&graphType=pie" class="button">Pie Graph</a>
      </div>
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>
  </div>

  <footer>
    &copy; 2024 Travel Budget Pro
  </footer>

  <script>var stringBudgetData = '<%- JSON.stringify(budgetData || {}) %>';
  var graphType = "<%= graphType %>";
  
  </script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    
    const budget = JSON.parse(stringBudgetData);
    let categories = [];
    let categoryCosts = [];

    let names = [];
    let rates = [];

    names.push('USD - United States Dollar', 'EUR - Euro', 'GBP - British Pound', 'JPY - Japanese Yen', 'CNY - Chinese Yuan', 'INR - Indian Rupee', 'AUD - Australian Dollar', 'CAD - Canadian Dollar', 'SGD - Singapore Dollar', 'CHF - Swiss Franc', 'MYR - Malaysian Ringgit', 'NZD - New Zealand Dollar', 'THB - Thai Baht', 'RUB - Russian Ruble', 'ZAR - South African Rand', 'BRL - Brazilian Real', 'PHP - Philippine Peso', 'IDR - Indonesian Rupiah', 'TRY - Turkish Lira', 'KRW - South Korean Won', 'MXN - Mexican Peso', 'NOK - Norwegian Krone');
    rates.push(0.92, 1, 1.17, 0.0075, 0.13, 0.011, 0.62, 0.69, 0.66, 1.03, 0.20, 0.58, 0.025, 0.014, 0.055, 0.18, 0.016, 0.00006, 0.054, 0.00072, 0.041, 0.098);

    for(let i = 0; i < budget.expenseCategory.length; i++){
      //Add category to list 
      if(!categories.includes(budget.expenseCategory[i]) ){
        categories.push(budget.expenseCategory[i]); 
        categoryCosts[categories.indexOf(budget.expenseCategory[i])] = 0;
      }

      //Add cost to array
      categoriesIndex = categories.indexOf(budget.expenseCategory[i]);

      categoryCosts[categoriesIndex] += budget.cost[i]*rates[names.indexOf(budget.currency[i])];
    }
    
    const ctx = document.getElementById('myChart').getContext('2d');

      const config = {
        type: graphType,
        data: {
            labels: categories,
            datasets: [{
                label: 'Cost',
                data: categoryCosts,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                      display: (graphType == 'bar'), 
                      color: 'white', 
                      font: {
                        weight: 'bold' 
                      }
                    }
                },
                x: {
                  ticks: {
                    display: (graphType == 'bar'), 
                      color: 'white',
                      font: {
                        weight: 'bold'  
                      }
                    }
                }
            },
            plugins: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: 'Total Costs by Category',
                    font: {
                        size: 18
                    },
                    color: 'white', 
                    weight: 'bold', 
                    padding: {
                        top: 20,
                        bottom: 30
                    }
                }
            }
        }
    };
    
    const myChart = new Chart(ctx, config);
</script>
</body>

</html>